node_modules

dist
test-results/
package-lock.json
yarn.lock
vite.config.js.timestamp-*
/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
/documentation/types.js
.env
.vercel_build_output
.svelte-kit
.cloudflare
.pnpm-debug.log
.netlify
.turbo
.vercel
.test-tmp
symlink-from
.idea/



# Ignore only the static Svelte build output
/backend/static/*
!/backend/static/index.html
!/backend/static/build/
!/backend/static/favicon.png
!/backend/static/manifest.json

# Optional: ignore build source maps
/backend/static/build/*.map

# Go build artifacts
/backend/tmp/
/backend/bin/

# OS/editor junk
.DS_Store
*.swp

